<div class="container mt-3 text-center ">
  <div id="mc_embed_signup text-center">
    <form #form action="https://outlook.us20.list-manage.com/subscribe/post?u=e8e10d6167710a39c5f5d21b2&amp;id=22e14335df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <h2 class="lead">Contact us</h2>
      <mat-form-field>
        <input type="text" name="FNAME" id="mce-FNAME" matInput placeholder="First Name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" name="LNAME" id="mce-LNAME" matInput placeholder="Last Name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="email" name="EMAIL" id="mce-EMAIL" matInput placeholder="Email Address">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="tel" name="PHONE" id="mce-PHONE" matInput placeholder="Contact Number">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" name="COMPANY" id="mce-COMPANY" matInput placeholder="Company Name">
      </mat-form-field>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_e8e10d6167710a39c5f5d21b2_22e14335df" tabindex="-1" value="">
      </div>
      <div class="clear mt-3 mb-3">
        <button type="submit" (click)="form.submit()" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
