<div class="mlr-5 text-center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <div class="container mt-2">
      <h1 class="cover-heading ">How can we help you ?</h1>
      <p class="lead">We help creative local businesses attract and convert all the customers they need to have a sustainable, profitable company.</p>

      <p class="lead">
        <button routerLink="/pricing" class="btn btn-lg btn-secondary">Learn more</button>
      </p>
    </div>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text">Website Development</p>
              </div>
              <img height="200px" class="bd-placeholder-img card-img-top" src="../../../assets/website.jpg">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text">API Development</p>
              </div>
              <img height="200px" class="bd-placeholder-img card-img-top" src="../../../assets/web-api.jpg">
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text">Progressive Web App Development</p>
              </div>
              <img height="200px" class="bd-placeholder-img card-img-top" src="../../../assets/pwa.jpg">
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="p-2 text-left border mat-elevation-z2">
        <p class="lead">About Us</p>
        <p>
          Our websites are so much more than just an online business card. We aim to understand your needs and do our best to get to the bottom of it. We lead you through the discovery of how we can
          get your website to bring you more leads, to convert them to clients and to retain and add value to your current clients. We understand that your business is unique and that a cookie cutter
          site won’t do it for you. We understand that you need to advance marketing strategies because you are or aim to be the best in your field.
        </p>
        <p>
          We also understand that you are passionate about your business and clients and need a service that will care and support your vision for the long run.
        </p>
        <p>
          If you want to see how we can bring your ideas to life, head over to our contact page and let’s talk.
        </p>
      </div>
    </div>
  </main>
</div>
